{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

	<table width='95%'>
            <tr>
                <td class='texteAccueil'> 
                </td>
            </tr>
            <tr>
                <td >
                </td>
            </tr>
            <tr>
                <td >
                </td>
            </tr>
            <tr>
                <td class='fst-italic'>
                    Bienvenue sur le site du comité d'entreprise de la Poste, ici, vous pourrez réserver vos cadeaux à l'aide des différents formulaires.

                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td class='fst-italic'>
                    Elle offre les services suivants :
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td class='fst-italic'>
                    <ul>
                        <li>La gestion et la demande des cadeaux de Noël.
                            <br>
                        <li>La gestion et la demande des chèques vacances.

                    </ul>
                </td>
            </tr>
            <tr>
                <td class='text-center fst-italic fw-bold'>
                        Afin d'utiliser les différents menus à votre disposition, connectez ou inscrivez-vous avec le bouton situé en haut à gauche
                </td>
            </tr>
        </table>

<br/> 
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <img src="{{ asset('images/noel1.jpg') }}" alt="image1" class="d-inline rounded  mx-auto border border-warning w-100"/>
        </div>
        <div class="col-md-3 col-sm-12" >
            <img src="{{ asset('images/noel2.jpg') }}" alt="image2" class="d-inline rounded  mx-auto border border-warning w-100"/>
        </div>
        <div class="col-sm-12 col-md-3">
            <img src="{{ asset('images/spectacle1.jpg') }}" alt="image3" class="d-inline rounded  mx-auto border border-warning w-100"/>
        </div>
        <div class="col-sm-12 col-md-3">
            <img src="{{ asset('images/spectacle2.jpg') }}" alt="image4" class="d-inline rounded  mx-auto border border-warning w-100"/>
        </div>
    </div>
</div>
{% endblock %}
