<!DOCTYPE html>
<html lang="">
    <head>
        <title>CSE La Poste - {% block titre %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Language" content="fr">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styleGeneral.css">


    </head>

    <body class='basePage fond'>
        <div id="container">
            <div class="row">
                {% if app.user %}
                <div id="entete_identite" class="col-md-1 col-xs-2">
                    <form id="frmIdentification" method="POST" action="/logout">
                        <input type="submit" value="Se déconnecter"/>
                    </form>
                    <div id="entete_identite" class="m-1">{{ app.user.prenom }} {{ app.user.nom }}</div>
                </div>     
                {% else %}
                <div id="entete_bouton" class="col-md-1 col-xs-8" >
                    <form id="frmIdentification" method="POST" action="login">
                        <input type="submit" value="Se connecter"/>
                    </form>
                </div>
                {% endif %}

                <!-- Titre -->
                <div class="col-md-10">
                    <div id="titre" class="mt-2 text-center">Comité social et économique de La Poste</div>
                    <div id="titre-2" class="text-center">Gestion des cadeaux</div>
                    <img src ="{{ asset('images/logo.png') }}" class="mx-auto d-block" alt="logo" id="logo">
                </div>

                <div class="col-md-1 col-xs-2">
                    <div id="entete_version">V.<?= GestionParametres::get("version") ?> <br> 
                    <a href="/condition-generales" class="footer">Mentions légales</a><br /></span><br>&nbsp;</div>
                </div>
            </div>
        </div>


    <!--  Tableau contenant le titre et les menus -->

    <nav class="navbar navbar bg mt-3 navbar-expand-lg menu">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-muted" href="/accueil">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/noel">Formulaire Noel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/infos">Mes Informations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/contact">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/autres">Autres</a>
          </li>
        </ul>
      </div>
    </nav>
            <!-- Fin des menus -->
            <tr>
                <td class="basePage">
                    <br><center><br>
            

        {% block content %}

        {% endblock %}
    </body>

</html>
